@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color: #2d3436;
    display: flex;
    z-index: 100;
}

.logoArzon {
    width: 110px;
    height: 110px;
    margin: 10px 0 0 10px;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.25));
}

.navigation {
    margin: auto 0;
}

.navigationList {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

.navigationEl {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigationEl::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 70px;
    margin: 0 10px 0 15px;
    background-color: #dfe6e9;
    opacity: 75%;
}

.textNavigation {
    cursor: pointer;
    color: #dfe6e9;
    text-decoration: none;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.rightPart {
    height: 100%;
    display: flex;
    margin: 0 0 0 auto;
}

.user {
    margin: auto 15px auto 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
}

.settings {
    margin: auto 10px auto 0;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #dfe6e9;
}

@media screen and (max-width: 1080px) {
    .header {
        height: 90px;
    }

    .logoArzon {
        width: 90px;
        height: 90px;
        margin: 12px 0 0 10px;
    }

    .navigationEl::before {
        height: 60px;
        margin: 0 8px 0 13px;
    }

    .textNavigation {
        font-size: 22px;
    }

    .user {
        margin: auto 15px auto 0;
        width: 55px;
        height: 55px;
    }

    .settings {
        margin: auto 10px auto 0;
        width: 25px;
        height: 25px;
    }

}

@media screen and (max-width: 720px) {
    .header {
        height: 80px;
    }

    .logoArzon {
        width: 70px;
        height: 70px;
        margin: 15px 0 0 8px;
    }

    .navigationEl::before {
        height: 50px;
        margin: 0 5px 0 10px;
    }

    .textNavigation {
        font-size: 15px;
    }

    .user {
        margin: auto 15px auto 0;
        width: 42px;
        height: 42px;
    }

    .settings {
        margin: auto 10px auto 0;
        width: 22px;
        height: 22px;
    }

}

@media screen and (max-width: 450px) {
    .header {
        height: 70px;
    }

    .logoArzon {
        width: 60px;
        height: 60px;
        margin: 12px 0 0 5px;
    }

    .navigationEl::before {
        height: 40px;
        margin: 0 5px 0 10px;
    }

    .textNavigation {
        font-size: 12px;
    }

    .user {
        margin: auto 10px auto 0;
        width: 35px;
        height: 35px;
    }

    .settings {
        margin: auto 10px auto 0;
        width: 15px;
        height: 15px;
    }

}