.fade {
    width: 1920px;
    height: 261px;
    left: 0;
    top: 984px;
    position: absolute;
    background: linear-gradient(360deg, white 0%, rgba(153, 153, 153, 0) 100%);
}

.video {
    width: 1280px;
    height: 720px;
    left: 320px;
    top: 262px;
    position: absolute;
    background: #4D4D4D;
}

.youtube-logo {
    width: 246px;
    height: 246px;
    padding: 48px 15px;
    left: 837px;
    top: 499px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.presentation-text {
    width: 1044px;
    height: 125px;
    left: 438px;
    top: 1272px;
    position: absolute;
    text-align: center;
    color: black;
    font-size: 85px;
    font-family: Kodchasan, serif;
    font-weight: 600;
    word-wrap: break-word;
}

.line-presentation {
    width: 450px;
    height: 0;
    position: absolute;
    border: 2px black solid;
}