<div class="category">
    <div class="category-name" id="category-id">Catégorie</div>
    <div class="category-line"></div>
    <div class="podium">
        <div class="place second-place">
            <div class="top-podium">
                <div class="user-podium">
                    <img src="../../assets/img/header/default-user.jpg" class="user-picture"
                         id="category-second-user-picture" alt="">
                    <div class="user-name" id="category-second-user-name"></div>
                    <div class="user-time" id="category-second-user-time"></div>
                </div>
            </div>
            <div class="bottom-podium">
                <div class="podium-step second-step">
                    <div class="podium-step-text">2</div>
                </div>
            </div>
        </div>
        <div class="place first-place">
            <div class="top-podium">
                <div class="user-podium">
                    <img src="../../assets/img/header/default-user.jpg" class="user-picture"
                         id="category-first-user-picture" alt="">
                    <div class="user-name" id="category-first-user-name"></div>
                    <div class="user-time" id="category-first-user-time"></div>
                </div>
            </div>
            <div class="bottom-podium">
                <div class="podium-step first-step">
                    <div class="podium-step-text">1</div>
                </div>
            </div>
        </div>
        <div class="place third-place">
            <div class="top-podium">
                <div class="user-podium">
                    <img src="../../assets/img/header/default-user.jpg" class="user-picture"
                         id="category-third-user-picture" alt="">
                    <div class="user-name" id="category-third-user-name"></div>
                    <div class="user-time" id="category-third-user-time"></div>
                </div>
            </div>
            <div class="bottom-podium">
                <div class="podium-step third-step">
                    <div class="podium-step-text">3</div>
                </div>
            </div>
        </div>
    </div>
    <div class="ranking">
        <div class="rank-bar">
            <div class="rank-and-user">
                <div class="rank-text">N°</div>
                <div class="rank-text">Nom</div>
            </div>
            <div class="rank-text">Temps</div>
        </div>
        <div class="rank-line"></div>
        <ol class="rank-list">
        </ol>
    </div>
</div>